@media screen and (max-width: 1200px) {
    .center-content {
        padding-right: 30px;
        padding-left: 30px;
    }
    .section-title {
        @include fontStyle(30px, 400);
    }
    .choose-us {
        padding: 135px 0 72px;
        &__title {
            margin-bottom: 30px;
        }
        &__description {
            margin-bottom: 20px;
        }
        &__img {
            &--top {
                right: 80px;
            }
            &--bottom {
                right: 55px;
            }
        }
    }
    .how-works {
        padding: 65px 0;
        &__arcs {
            display: none;
        }
    }
    .spain {
        &__content {
            &--top {
                top: 200px;
                left: calc(50% - 420px);
            }
            &--bottom {
                bottom: 80px;
                right: calc(50% - 420px);
            }
        }
    }
    .testimonials {
        padding: 100px 0 90px;
        &__title {
            margin-bottom: 55px;
        }
    }
    .footer {
        padding: 85px 0 40px;
    }
}

@media screen and (max-width: 880px) {
    .banner {
        padding: 200px 0 100px;
    }
    .menu {
        display: none;
    }
    .choose-us {
        &__img {
            display: none;
        }
        &__title {
            display: inline-block;
            margin: 0 auto 30px;
        }
        &__description {
            width: 100%;
        }
        &__button {
            display: inline-block;
            margin: 30px auto 0;
        }
    }
    // .choose-us {
    //     padding: 75px 0 50px;
    //     &__button {
    //         margin-top: 30px;
    //     }
    //     &__img {
    //         width: 250px;
    //         &--top {
    //             top: -15px;
    //         }
    //         &--bottom {
    //             bottom: 20px;
    //             right: 55px;
    //         }
    //     }
    // }
    .burger {
        width: 30px;
        height: 22px;
        position: relative;
        display: block;
        cursor: pointer;
        &__icon {
            width: 100%;
            height: 2px;
            background-color: $mainColor;
            display: inline-block;
            &::before,
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                left: 0;
                right: 0;
                transition-duration: 0.4s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }
    .burger-checkbox:checked ~ .menu {
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.4s;
        top: 83px;
        background-color: $secondaryColor;
        display: block;
        height: 300px;
    }
    .menu {
        &__item {
            width: 100%;
            flex-direction: column;
        }
        &__link {
            font-size: 23px;
            line-height: 40px;
        }
        &__list {
            width: 100%;
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid #beb8b8;
        }
    }
    .burger-checkbox:checked ~ .burger {
        .burger__icon {
            background: transparent;
            &:before {
                top: 50%;
                transform: rotateZ(45deg);
                background-color: $mainColor;
            }
            &:after {
                top: 50%;
                transform: rotateZ(-45deg);
                background-color: $mainColor;
            }
        }
    }
    .form {
        width: 530px;
        &__button {
            padding: 17px 55px;
        }
    }
    .spain {
        &__wrapper {
            height: 550px;
        }
        &__content {
            &--top {
                top: 100px;
                left: calc(50% - 270px);
            }
            &--bottom {
                bottom: 100px;
                right: calc(50% - 270px);
            }
        }
    }
    .testimonials {
        &__img {
            display: none;
        }
        &__wrapper {
            width: 100%;
        }
        &__content {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .button {
        padding: 19px 30px;
    }
    .form {
        width: 400px;
        &__input {
            &::placeholder {
                @include fontStyle(12px, 400);
            }
        }
        &__button {
            padding: 10px 10px;
        }
    }

    .how-works {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__item {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            margin-bottom: 20px;
        }
    }
    .spain {
        &__content {
            max-width: 414px;
            &--top {
                top: 100px;
                left: calc(50% - 215px);
            }
            &--bottom {
                bottom: 100px;
                right: calc(50% - 215px);
            }
        }
    }
}
