$mainColor: #ffffff;
$secondaryColor: #5474fd;
$secondaryTextColor: #e8e8e8;
$alternativeTextColor: #fefefe;
$bgDarkColor: #333333;
$bgSpainColor: #232323;
$placeholderColor: #999999;

$mainFont: "Josefin Sans", sans-serif;
$secondaryFont: "Aleo", serif;

$transitionAnimation: all .4s ease;